<div class="form-group">
    <div class="input-group">
        <label for="module" class="sr-only">Module</label>
        <div class="input-group-addon">Module</div>
        <select id="module" class="form-control" ng-model="criteria.module" ng-options="m as m.name for m in moduleOptions | orderBy:'name' track by m.id" ng-change="moduleChanged()"></select>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <label for="namespace" class="sr-only">Namespace</label>
        <div class="input-group-addon">Namespace</div>
        <select id="namespace" class="form-control" ng-model="criteria.namespace" ng-options="n as n.name for n in namespaceOptions | orderBy:'name' track by n.id" ng-change="namespaceChanged()"></select>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <label for="type" class="sr-only">Type</label>
        <div class="input-group-addon">Type</div>
        <select id="type" class="form-control" ng-model="criteria.type" ng-options="t as t.name for t in typeOptions | orderBy:'name' track by t.id" ng-change="typeChanged()"></select>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <label for="member" class="sr-only">Member</label>
        <div class="input-group-addon">Member</div>
        <select id="member" class="form-control" ng-model="criteria.member" ng-options="m as m.name for m in memberOptions | orderBy:'name' track by m.id" ng-change="memberChanged()"></select>
    </div>
</div>

<div class="form-group" ng-class="error('dateFrom')">
    <div class="input-group">
        <label for="dateFrom" class="sr-only">From</label>
        <div class="input-group-addon">From</div>
        <input name="dateFrom" ng-model="criteria.dateFrom" type="text" class="form-control" min-date="minDate" max-date="maxDate" is-open="dateTimePicker.dateFromOpened" datepicker-popup="MM/dd/yy" ng-change="refresh(criteria)" ng-required="true">
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="openDateFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </div>
</div>
<div class="form-group" ng-class="error('dateTo')">
    <div class="input-group">
        <label for="dateTo" class="sr-only">To</label>
        <div class="input-group-addon">To</div>
        <input name="dateTo" ng-model="criteria.dateTo" type="text" class="form-control" min-date="minDate" max-date="maxDate" is-open="dateTimePicker.dateToOpened" datepicker-popup="MM/dd/yy" ng-change="refresh(criteria)" ng-required="true" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="openDateTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </div>
</div>

