<wj-flex-grid items-source="items" is-read-only="true" ng-show="items.length > 0">
    <wj-flex-grid-column header="Name" binding="name" width="*"></wj-flex-grid-column>    
    <wj-flex-grid-column header="Index" binding="maintainabilityIndex"></wj-flex-grid-column>
    <wj-flex-grid-column header="Coverage" binding="codeCoverage"></wj-flex-grid-column>
    <wj-flex-grid-column header="LOC" binding="linesOfCode"></wj-flex-grid-column>
    <wj-flex-grid-column header="Complexity" binding="cyclomaticComplexity"></wj-flex-grid-column>
    <wj-flex-grid-column header="Coupling" binding="classCoupling"></wj-flex-grid-column>
    <wj-flex-grid-column header="Inheritance" binding="depthOfInheritance"></wj-flex-grid-column>
</wj-flex-grid>