<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-left">
            <img ng-if="commit.committerAvatarUrl.length != undefined" height="30px" width="20px" ng-src="{{commit.committerAvatarUrl}}" />
            <img ng-if="commit.committerAvatarUrl == undefined" height="30px" width="20px" src="~/Content/unmapped_author.png" title="Author not mapped to Bitbucket user." />
            {{commit.committer}}
        </div>
        <div class="pull-right">
            <em>Additions:</em><span class="lines-added">{{commit.linesAdded|number}}</span>&nbsp;
            <em>Deletions:</em><span class="lines-deleted">{{commit.linesDeleted|number}}</span>&nbsp;
            <em>Total changes:</em>{{commit.totalChurn|number}}
            <a style="margin-left:10px;" target="_blank" ng-href="{{commit.url}}">View commit details</a>
        </div>
        <p class="clearfix"></p>
    </div>
    <div class="panel-body">
        <div class="pull-left">{{commit.message}}</div>
        <div class="pull-right">
            <a ng-click="innerCommitClick()">
                Files
                <span class="glyphicon" ng-class="{'glyphicon-chevron-up': commit.expanded, 'glyphicon-chevron-down': !commit.expanded}" aria-hidden="true"></span>
            </a>
        </div>
        <p class="clearfix" />
        <div style="margin-top:5px;">
            <file-table files="commit.files" ng-show="commit.expanded" />
        </div>
    </div>
</div>
