<table class="table table-stiped table-condensed files">
    <tr ng-repeat="file in files">
        <td>
            <a ng-if="file.url != undefined" target="_blank" ng-href="{{file.url}}">{{file.fileName}}</a>
            <span ng-if="file.url == undefined">{{file.fileName}}</span>
        </td>
        <td><span class="lines-added">&plus;{{file.linesAdded|number}}</span></td>
        <td><span class="lines-deleted">&minus;{{file.linesDeleted|number}}</span></td>
        <td>{{file.totalChurn|number}}</td>
    </tr>
</table>