<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
        <add name="CodeQuality" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=CodeChurnLoaderWarehouse;Integrated Security=yes;" />
    </connectionStrings>
</configuration>
