@model string

@section JavascriptInHead
{
    @Scripts.Render("~/js/app/branchdiff/branchdiff-controller.js")
    @Scripts.Render("~/js/app/branchdiff/branchdiff-service.js")
    <script type="text/javascript">
        branchDiffModule.factory("bootstrappedData", function() {
            return {
                 branches: @Html.Raw(Model)
            };
        });
    </script>
}

<div style="margin-top:20px;" ng-app="branchDiffModule">
    <h3>Branch Diff</h3>
    <p></p>
    <div ng-include="'/js/app/branchdiff/partials/branchdiff.html'" ng-controller="BranchDiffController"></div>
</div>
