@model string

<style>
    div.margin-right {
        margin-right: 10px;
    }

    div.average-panel {
        width: 250px;
    }

    div.average-panel-wide {
        width: 350px;
    }

    .chart {
        height: 300px;
        margin-top: 20px;
    }

    .radio-with-margin {
        margin-left: 10px !important;
        margin-right: 3px !important;
    }
</style>

@section JavascriptInHead
{
    @Scripts.Render("~/js/app/coverage/coverage-service.js")
    @Scripts.Render("~/js/app/coverage/coverage-controller.js")
    @Scripts.Render("~/js/app/churn/directives/spinner.js")
    <script type="text/javascript">
        churnModule.factory("bootstrappedData", function() {
            return {
                root: @Html.Raw(Model)
                };
        });
    </script>
}

<!-- TODO: the only reason for having churnModule here is that it has interceptor -->
<div style="margin-top:20px;" ng-app="churnModule" ng-controller="CoverageController">
    <h2>Code Coverage 90 days</h2>
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-green average-panel">
                <div class="panel-heading">
                    <div class="pull-left margin-right">
                        <i class="fa fa-cogs fa-5x"></i>
                    </div>
                    <div>
                        <div class="huge">{{data.average}}%</div>
                        <div>Average</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <label>View by</label>
            <div ng-repeat="o in summaryByList">
                <input type="radio" name="summaryOption" class="radio-with-margin" ng-model="$parent.summaryBy" value="{{o.id}}" />{{o.name}}
            </div>
        </div>

        <div class="col-md-2">
            <button class="btn btn-primary" ng-click="refresh()">Refresh</button>
        </div>
        <div class="col-md-1">
            <spinner></spinner>
        </div>
    </div>

    <wj-flex-chart class="chart" items-source="data.items" binding-x="name">
        <wj-flex-chart-axis wj-property="axisX"></wj-flex-chart-axis>
        <wj-flex-chart-axis wj-property="axisY" title="Code Coverage" min="0" max="100"></wj-flex-chart-axis>
        <wj-flex-chart-series binding="averageValue" ng-attr-style="{fill:'#446E9A'}" name="Code Coverage"></wj-flex-chart-series>
        <wj-flex-chart-legend position="None"></wj-flex-chart-legend>
    </wj-flex-chart>

    <div ng-repeat="categoryItem in data.items">
        <h3>{{categoryItem.name}} - {{categoryItem.averageValue}}%</h3>

        <wj-flex-chart style="height: 300px; margin-top: 20px;" items-source="categoryItem.dataPoints"
                       binding-x="dateString" chart-type="LineSymbols" selection-mode="Point" selection="chartProps.selection"
                       ng-click="dateClicked(categoryItem.id)">
            <wj-flex-chart-axis wj-property="axisX"></wj-flex-chart-axis>
            <wj-flex-chart-axis wj-property="axisY" min="0" max="100" title="Code Coverage"></wj-flex-chart-axis>
            <wj-flex-chart-series binding="value" ng-attr-style="{fill:'#446E9A'}"></wj-flex-chart-series>
            <wj-flex-chart-legend position="None"></wj-flex-chart-legend>
        </wj-flex-chart>

        <div ng-show="getModuleStats(categoryItem.id)">
            <div class="row">
                <div class="col-md-3">
                    <!-- TODO: wrap it up into a directive -->
                    <div class="panel panel-green average-panel-wide">
                        <div class="panel-heading">
                            <div class="pull-left margin-right">
                                <i class="fa fa-cogs fa-5x"></i>
                            </div>
                            <div>
                                <div class="huge">{{getModuleStats(categoryItem.id).data.codeCoverage}}%</div>
                                <div>Average code coverage on {{getModuleStats(categoryItem.id).date}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-yellow average-panel-wide">
                        <div class="panel-heading">
                            <div class="pull-left margin-right">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div>
                                <div class="huge">{{getModuleStats(categoryItem.id).data.linesOfCode | number}}</div>
                                <div>Total lines of code on {{getModuleStats(categoryItem.id).date}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4>Modules on {{getModuleStats(categoryItem.id).date}}</h4>
            <wj-flex-grid items-source="getModuleStats(categoryItem.id).data.items" is-read-only="true">
                <wj-flex-grid-column header="Module Name" binding="name" width="*"></wj-flex-grid-column>
                <wj-flex-grid-column header="Module code coverage" width="*" binding="codeCoverage"></wj-flex-grid-column>
                <wj-flex-grid-column header="Module lines of code" width="*" binding="linesOfCode"></wj-flex-grid-column>
            </wj-flex-grid>
        </div>
    </div>
</div>
