@model string

@section JavascriptInHead
{
    @Scripts.Render("~/js/app/scatter/scatter-controller.js")
    @Scripts.Render("~/js/app/scatter/scatter-service.js")
    <script type="text/javascript">
        scatterModule.factory("bootstrappedData", function() {
            return {
                dates: @Html.Raw(Model)
            };
        });
    </script>
}

<div style="margin-top:20px;" ng-app="scatterModule" ng-controller="ScatterController">
    <h3>Systems</h3>
    <p></p>    
    <div ng-include="'/js/app/scatter/partials/scatter.html'" ng-init="init()"></div>
</div>
